body {
    background-color: #ebebeb;
}

.game-board{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.game-board > div {
    width: 40px;
    height: 40px;
    box-shadow:inset 0px 0px 0px 1px #000000;
    text-align: center;
}